<?xml version="1.0"?>
<!--
/**
*
* @category Jworks
* @package LinkedProducts
* @subpackage Config
* @author Jitheesh V O <jitheeshvo@gmail.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Jworks_LinkedProducts"  setup_version="1.0.0">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
